@media screen and (max-width: 580px) {
    .menu_main .menu > li {
        margin-right: 25px;
    }
}

@media screen and (max-width: 1500px) {

    .menu_main .menu > li {
        font-size: 12px;
    }

    .header .search {
        width: 300px;
        height: 40px;
        background: url("pics/search.png") right;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-radius: 25px 0 0 25px;
    }

    .header .search .search_input {
        width: 195px;
        height: 40px;
        border: 0;
        border-radius: 25px 0 0 25px;
        color: #FFFFFF;
        padding-left: 20px;
        opacity: 0.5;
        font-size: 18px;
    }

    .header_main .header, .menu_main .menu, .content_main .content {
        width: 95%;
    }

    .footer_main {

    }

    .footer .footer_logo {
    }


    .footer_main .footer {
        width: 95%;
        flex-direction: row;
        justify-content: space-around;
    }

    .footer_menus > div {
        margin-left: 150px;
        font-family: "Open Sans Light", sans-serif;
        font-size: 16px;
        line-height: 25px;
    }

    .aside_menu .categories > ul > li {
        font-size: 18px;
        padding: 8px;
    }

    .menu_main .geraldica {
        background-position: center;
    }
}

