@media screen and (max-width: 450px) {

    .burger {
        width: 100%;
        position: fixed;
        z-index: 2;
        background-color: #FFFFFF;
        display: none;
    }

    .item, li {
        cursor: pointer;
    }

    .burger .burger_menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        box-sizing: border-box;
    }

    .menu_toggler_fullscreen {
        color: #FFFFFF;
        box-sizing: border-box;
        border: 3px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        background-color: #c68143;
    }

    .menu_toggler_mobile > input {
        outline: none;
    }


    .menu_toggler_fullscreen img {
        outline: none;
    }

    .menu_toggler_fullscreen > label {
        margin: 0 auto;
    }

    .burger_menu_item {
        box-sizing: border-box;
        width: 100%;
        border-bottom: 3px solid black;
        border-left: 3px solid black;
        border-right: 3px solid black;
        cursor: pointer;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .burger_menu_item > p {
        font-family: "AgRevueCyr Roman Medium", Tahoma, sans-serif;
        font-weight: 700;
        font-size: 17px;
        text-transform: uppercase;
        color: #505050;
        margin-top: 2px;
    }

    .header_main .header, .menu_main .menu, .content_main .content {
        width: 85%;
    }

    .footer_main .footer {
        width: 85%;
    }

    .header_main {
        height: 250px;
    }

    .footer_menus > div {
        margin-left: 0px;
    }

    .footer_menus > div {
        font-family: "Open Sans Light", sans-serif;
        font-size: 16px;
        line-height: 25px;
    }

    .header_main .header {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .menu_item {
        display: none;
    }

    .menu_main .menu {
        justify-content: flex-start;
        height: 70px;
        margin-top: -15px;
    }

    .menu_main {
        justify-content: flex-start;
        height: 80px;
    }

    .menu_toggler_mobile {
        display: block;
        margin-left: 20px;
    }

    .menu_main .geraldica {
        width: 100%;
        background: url("pics/mobile/venzel_mob.png") no-repeat;
        background-size: cover;
        height: 17px;
        margin-top: -8px;
    }

    .header .logo {
        width: 330px;
        height: 70px;
        background-size: contain;
        margin-top: 0;
    }

    .logo .logo_right .ritual_snab > p {
        font-size: 22px;
    }

    .logo .logo_right {
        margin-left: 15px;
    }

    .header_main {
        height: 300px;
    }

    .custom-checkbox + label {
        cursor: pointer;
    }

    .menu_main .menu > li {
        font-family: "Open Sans Semibold", Tahoma, sans-serif;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        color: #505050;
        margin-top: 15px;
        cursor: pointer;
    }

    .content .aside_menu {
        display: none;
    }

    .main .notice > h1 {
        font-family: "Open Sans Extrabold", sans-serif;
        font-size: 12px;
    }

    .main .notice > p, .main .description > p {
        font-family: "Open Sans Semibold", sans-serif;
        font-size: 12px;
        line-height: 16px;
        text-align: justify;
    }

    .main .notice > p {
        margin-top: 30px;
    }

    .main .products {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 15px;
    }

    .cross {
        display: none;
    }

    .tombs {
        display: none;
    }

    .cross_mob {
        display: block;
    }

    .cross_mob {
        display: block;
    }

    .notice_bottom > h1 {
        font-family: "Open Sans Semibold", sans-serif;
        font-size: 24px;
        color: #8c6d4c;
    }

    .notice_bottom > p {
        font-family: "Open Sans", sans-serif;
        line-height: 1.5;
        text-align: center;
        font-weight: bold;
        font-size: 12px;
        margin: 15px 0 15px 0;
    }

    .main .form_main {
        display: flex;
        flex-direction: column;
    }

    .form_main .form_col-1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 200px;
    }

    .form_main .form_col-2 {
        justify-content: center;
    }

    .form_col-2 .submit {
        margin-top: 15px;
    }

    .map_main {
        background: url("pics/mobile/map_mobile.png");
        border-top: 5px solid #c68143;
        border-bottom: 5px solid #c68143;
    }

    .footer_main {
        height: 320px;
        background: url("pics/mobile/footerBG380x283.png") no-repeat;
        background-size: cover;
    }

    .footer_main .footer {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .footer .footer_logo {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin-top: 15px;

    }

    .footer_logo .picture {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .footer {
        color: #FFFFFF;
        font-family: "Open Sans Light", sans-serif;
        font-size: 12px;
    }

    .footer .footer_nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-left: -20px;
    }

    .footer_logo .adresses .adress {
        display: none;
    }

    .footer_logo .adresses .adress_mobile {
        font-family: "Open Sans", sans-serif;
        font-size: 12px;
        line-height: 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-top: -40px;
        margin-left: 90px;
        width: 100%;
    }

    .footer_logo .adresses .adress_mobile > p {
        margin-left: 5px;
    }

    .footer_logo .picture > p {
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
        font-size: 16px;
        line-height: 30px;
    }

    .footer .footer_menus {
        width: 100%;
    }

    .adres_block_foo {
        align-self: flex-start;
        line-height: 1.5;
        width: 100%;
        margin-top: 5px;
    }

    .adres_block_foo .adress {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 5px;
    }

    .adres_block_foo .adress > img{
        height: 16px;
        width: 12px;
    }

    .adres_block_foo .adress > p {
        font-family: "Open Sans R", sans-serif;
        font-size: 17px;
        margin-left: 25px;
        line-height: 20px;
    }

    .footer_logo .picture {
        display: flex;
        flex-direction: row;
    }

    .picture .adress {
        display: flex;
        flex-direction: column;
    }

    .adress .full_adress {
        display: flex;
        flex-direction: row;
    }

    .adress .full_adress > img {
        width: 12px;
        height: 16px;
    }


    .footer .footer_cats {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
    }

    .footer .footer_cats > ul > li:first-child,
    .footer .footer_nav > ul > li:first-child
    {
        font-size: 16px;
        text-transform: uppercase;
        color: #FFFFFF;
        cursor: pointer;
    }

    .footer .footer_cats > ul > li,
    .footer .footer_nav > ul > li
    {
        font-family: "Open Sans Light", Tahoma, sans-serif;
        font-size: 14px;
        line-height: 1.5;
    }

    .whatsapp {
        width: 45px;
        height: 41px;
        background: url("pics/mobile/whatsapp_mob.png");
        transform: translateY(892%);
    }

}


