@font-face {
    font-family: "AgRevueCyr Roman Medium";
    src: url("fonts/agrevuecyr_romanmedium.eot");
    src: url("fonts/agrevuecyr_romanmedium.eot?#iefix") format("embedded-opentype"),
    url("fonts/agrevuecyr_romanmedium.woff") format("woff"),
    url("fonts/agrevuecyr_romanmedium.ttf") format("truetype"),
    url("fonts/agrevuecyr_romanmedium.woff2") format("woff2"),
    url("fonts/agrevuecyr_romanmedium.otf") format("otf");
}

:active, :hover, :focus, :checked, :visited {
    outline: 0;
    outline-offset: 0;
}

html, body {
    overflow-x: hidden;
}

body {
    width: 100%;
}

.item, li {
    cursor: pointer;
}

.burger {
    width: 100%;
    position: fixed;
    z-index: 2;
    background-color: #FFFFFF;
    display: none;
}

.container {
    height: 100vh;
}

.page {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Шапка сайта */

.header_main {
    justify-content: space-around;
    width: 100%;
    height: 140px;
    background: url("pics/granit.png") no-repeat;
    background-size: cover;
    display: flex;
}

.header_main .header {
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1080px) {

    .header_main {
        height: 250px;
    }

    .header_main .header {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}

.header .logo {
    width: 390px;
    height: 77px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.logo .logo_left > img {
    width: 74px;
    height: 62px;
    margin-top: -5px;
}

.logo .logo_right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 295px;
    color: #FFFFFF;
    height: 70px;
}

.main2 { display: none }

.logo .logo_right .ritual_snab > p {
    font-family: "Open Sans", sans-serif;
    font-size: 27px;
    line-height: 30px;
    font-weight: bold;
    height: 38px;
}

.logo .logo_right .ritual_adress {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.logo .logo_right .ritual_adress > img {
    margin-left: 2px;
    height: 16px;
    width: 12px;
}

.logo .logo_right .ritual_adress > p {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    line-height: 30px;
    font-weight: bold;
    height: 25px;
    margin-left: 15px;

}

.header .search {
    width: 355px;
    height: 40px;
    background: url("pics/search.png");
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 25px;
}

.header .search .search_input {
    width: 250px;
    height: 40px;
    background-color: #2a2a31;
    border: 0;
    border-radius: 25px;
    color: #FFFFFF;
    padding-left: 20px;
    opacity: 0.5;
    font-size: 18px;
}

.header .search .search_input:focus
{
    outline: 0;
    outline-offset: 0;
}

.header .search .chomp {
    font-size: 28px;
    font-weight: bold;
    opacity: 0.01;

}

.header .contacts_and_cart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contacts_and_cart .contacts {
    width: 221px;
    height: 59px;
    background: url("pics/contacts.png");
    margin-right: 50px;
}

.contacts_and_cart .cart {
    width: 48px;
    height: 38px;
    background: url("pics/mobile/cart_mob.png") no-repeat;
    cursor: pointer;
}

/* Меню сайта */

.menu_main {
    justify-content: space-around;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu_main .menu {
    width: 75%;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

.menu_main .menu > li {
    font-family: "AgRevueCyr Roman Medium", Tahoma, sans-serif;
    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;
    color: #505050;
    margin-top: 15px;
    margin-right: 62px;
    cursor: pointer;
}

.menu_main .geraldica {
    width: 100%;
    background: url("pics/1920x137ger.png") repeat-x;
    height: 137px;
}

/* Содержимое сайта */

.content_main {
    justify-content: space-around;
    width: 100%;
    display: flex;
}

.content_main .content {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-content: space-between;
}

.content .aside_menu {
    width: 18%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-right: 40px;
}

.content .main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: space-between;
}

/* Содержимое сайта: Боковое меню */

.aside_menu .categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.aside_menu .categories > ul {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.categories > ul > li {
    color: #505050;
    padding: 8px;
    width: 100%;
    line-height: 1.5;
    border: 1px solid #d0d0d0;
    font-family: "Open Sans", sans-serif;
    background-color: #f6f6f6;
}

.tombs_and_crosses > li, .baskets > li, .wreaths > li, .textile > li, .attributes > li {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700 !important;
    background: url("pics/arrow.png") no-repeat right;
}

.tombs_items > li, .textile_items > li, .attributes_items > li {
    font-weight: 400;
    font-size: 18px;
}

/* Содержимое сайта: основной блок  */

.main .notice, .notice_bottom, .description {
    font-family: "Open Sans", sans-serif;
    color: #505050;
}

.main .notice > h1, .notice_bottom > h1 {
    font-weight: bold;
    font-size: 25px;
}

.notice_bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.notice_bottom > h1 {
    color: #c68143;
}

.notice_bottom > p {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    margin: 20px 0 20px 0;
}

.main .notice > p {
    font-weight: normal;
    font-size: 17px;
    line-height: 1.5;
    margin: 15px 0 15px 0;
}

.main .description > p {
    font-weight: normal;
    font-size: 17px;
    line-height: 1.5;
    margin: 30px 0 30px 0;
}

.main .form_main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 100%;
}

.form_main .form_col-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 78%;
    height: 200px;
}

.form_main .form_col-1 > input {
    height: 30px;
    padding: 5px;
    border: 1px solid lightgray;
}

.form_col-1 > input, .form_col-2 > input {
    outline:none;
}

.form_main .form_col-1 > input::-webkit-input-placeholder,
.form_main .form_col-1 > textarea::-webkit-input-placeholder
{
    text-align: center;
}


.form_main .form_col-1 > input::-moz-placeholder,
.form_main .form_col-1 > textarea::-moz-placeholder
{
    text-align: center;
}

.form_main .form_col-1 > textarea::-moz-placeholder,
.form_main .form_col-1 > input::-moz-placeholder
{
    text-align: center;
}
.form_main .form_col-1 > textarea::-ms-input-placeholder,
.form_main .form_col-1 > input::-ms-input-placeholder {
    text-align: center;
}


.form_main .form_col-1 > input[ENGINE=’text’]::placeholder {
    text-align: center;
}

.form_main .form_col-1 > textarea[ENGINE=’text’]::placeholder {
    text-align: center;
}

.form_main .form_col-1 > textarea {
    resize: none;
    overflow: auto;
    height: 40%;
    padding: 5px;
    outline: none;
    border: 1px solid lightgray;
}


.form_main .form_col-2 {
    display: flex;
    flex-direction: row;
    flex-basis: 20%;
    justify-content: flex-end;
    align-items: center;
}

.form_col-2 .submit {
    width: 155px;
    height: 62px;
    background: url("pics/button_send.png") no-repeat;
    background-size: cover;
    cursor: pointer;
}



.main .products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
}

.main .products > img {
    width: 100%;
}

.cross {
    grid-column: 3/4;
    grid-row: 2/4;
    display: block;
}

.tombs {
    grid-column-start: 1;
    grid-column-end: 3;
    display: block;
}

.cross_mob {
    display: none;
}

.tombs_mob {
    display: none;
}

/* Подвал  */

.map_main {
    flex-basis: 100%;
    background: url("pics/map.png");
    background-size: cover;
    margin-top: 50px;
    border-top: 5px;
    border-color: #c68143;

}

.map_main .map {
    width: 75%;
    height: 255px;
}


.footer_main {
    justify-content: space-around;
    width: 100%;
    height: 260px;
    background: url("pics/background_footer.png") no-repeat;
    background-size: cover;
    display: flex;
    border-top: 5px;
    border-color: #c68143;
}


.footer_main .footer {
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    line-height: 1.8;
    color: #FFFFFF;
    font-family: "Open Sans Light", sans-serif;
    font-size: 17px;
}

.footer .footer_logo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer_logo .picture {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #FFFFFF;
}

.footer_logo .adresses .adress_mobile {
    display: none;
}

.footer_logo .picture > img {
    width: 74px;
    height: 62px;
}

.footer_logo .picture > p {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 27px;
    line-height: 30px;
    margin-left: 15px;
}

.footer_logo .adresses {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.adresses .adress {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5px;
    margin-top: 5px;
}

.adresses .adress > img{
    margin-left: 2px;
    height: 16px;
    width: 12px;
}

.adresses .adress > p {
    font-family: "Open Sans R", sans-serif;
    font-size: 17px;
    line-height: 30px;
    margin-left: 25px;
}

.footer_menus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.footer_menus > div {
    margin-left: 200px;
}


.footer .footer_cats {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.adres_block_foo {
    display: none;
}

.footer .footer_nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.footer .footer_cats > ul > li:first-child,
.footer .footer_nav > ul > li:first-child
{
    font-family: "AgRevueCyr Roman Medium", Tahoma, sans-serif;
    font-weight: 400;
    font-size: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}

.whatsapp {
    position: fixed;
    width: 98px;
    height: 113px;
    cursor: pointer;
    background: url("pics/whatsApp.png");
    right: 0;
    transform: translateY(342%);
}

.menu_toggler_mobile {
    display: none;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    margin: 5px 5px 10px -20px;
}

.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 0.5em;
    background: url("pics/mobile/menu_toggler.png") no-repeat center center;
    background-size: 100% 100%;


}

.custom-checkbox:checked+label::before {
    border-color: #CDA578;
    background-image: url("pics/mobile/menu_toggler.png");
}


.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
}

.custom-checkbox:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}

.custom-checkbox:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-checkbox:focus:not(:checked)+label::before {
    border-color: #80bdff;
}

.custom-checkbox:disabled+label::before {
    background-color: #e9ecef;
}

.custom-checkbox-one+label {
    display: inline-flex;
    align-items: center;
    user-select: none;

}

.custom-checkbox-one+label::before {
    content: '';
    display: inline-block;
    width: 2em;
    height: 2em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid yellowgreen;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.form_main .form_col-1 > textarea::placeholder {
    color: darkgrey;
}

.form_main .form_col-1 > input::placeholder {
    color: darkgray;
}